@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="text-center landing-branding py-1 mt-2 align-middle h-100">
    <img src="~/img/btrpro-logo.png" class="landing-branding_img align-middle mt-5 p-3"/>
    <h1 class="text-capitalize display-5 align-middle">we keep our eyes on the issues</h1>
</div>
