@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";

}


<div class="row d-flex justify-content-center mt-5">

    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h2>Log in</h2>
                <hr />
                <div>
                    <h4>Widgisoft</h4>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="widgiAdmin()">Admin</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="widgiPM()">Project Manager</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="widgiDeveloper()">Developer</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="widgiSubmitter()">Submitter</button>
                </div>
                <hr />
                <div>
                    <h4>TechBuilder</h4>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="techAdmin()">Admin</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="techPM()">Project Manager</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="techDeveloper()">Developer</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="techSubmitter()">Submitter</button>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input id="email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input id="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn btn-group-sm btn-primary mb-3">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
        widgiAdmin = () => {
            let email = document.getElementById('email').value = "christie.patterson@widgisoft.com";           
            let password = document.getElementById('password').value = "S3cureP@ssword";       
        }

        widgiPM = () => {
            let email = document.getElementById('email').value = "william.squarepants@widgisoft.com";
            let password = document.getElementById('password').value = "S3cureP@ssword";
        }

        widgiDeveloper = () => {
            let email = document.getElementById('email').value = "andre.blankenship@widgisoft.com";
            let password = document.getElementById('password').value = "S3cureP@ssword";
        }

        widgiSubmitter = () => {
            let email = document.getElementById('email');
            email.value = "maria.anderson@widgisoft.com";
            let password = document.getElementById('password');
            password.value = "S3cureP@ssword";
        }

        techAdmin = () => {
            let email = document.getElementById('email').value = "harold.jeter@techbuilder.net";
            let password = document.getElementById('password').value = "S3cureP@ssword";
        }

        techPM = () => {
            let email = document.getElementById('email').value = "darrell.lopez@techbuilder.net";
            let password = document.getElementById('password').value = "S3cureP@ssword";
        }

        techDeveloper = () => {
            let email = document.getElementById('email').value = "madeline.johnson@techbuilder.net";
            let password = document.getElementById('password').value = "S3cureP@ssword";
        }

        techSubmitter = () => {
            let email = document.getElementById('email');
            email.value = "blake.jonsonberg@techbuilder.net";
            let password = document.getElementById('password');
            password.value = "S3cureP@ssword";
        }


    </script>
}
