body {
    color: #292928 !important;
}

a{
    color: #025ADE;
}

a.btn, span.badge {
    border-radius: 0; !important
}

table, thead, tr, tbody, td {
    color: #212529 !important;
}

.bg-landing {
    background: #1D3461;
}

.bg-signedin {
    background: #F0F7FA;
    border: #1D3461;
}

.nav-link-text, .dropdown-text {
    color: #1F487E;
}

.btn-primary {
    color: #fff;
    background-color: #22628F;
    border-color: #22628F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1F487E;
    border-color: #1F487E;
}

.bg-active-projects {
    background-color: #1F487E;
}

.bg-total-tickets {
    background-color: #579AB7;
}

.bg-unassigned-tickets {
    background-color: #8AB9CD;
    color: #292928;
}

.bg-total-data{
    background-color: #BDD8E4;
    color: #292928;
}

.amDark {
    background-color: #30303d;
    color: #fff;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.dashboard-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #C2C2C1;
    box-shadow: 3px 5px 10px #292928;
}

.dashboard-card_wide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 730px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #C2C2C1;
    box-shadow: 3px 5px 10px #292928;
}

span.new {
    background: #1C7C54;
    color: #FFF
}

span.development {
    background: #279AF1;
    color: #FFF;
}

.testing {
    background: #3DFAFF;
    color: #292928;
}

.resolved {
    background: #101419;
    color: #FFF;
}

.low {
    background: #FFF689;
    color: #292928;
}

.medium {
    background: #F7C050;
    color: #292928;
}

.high {
    background: #EF8A17;
    color: #FFF;
}
.urgent {
    background: #EF2917;
    color: #FFF;
}

/*Company Index Styles*/


.bi-person-badge {
    color: #579AB7;
}


.landing-branding_img > img {
    height: 200px;
    width: 80%;
    vertical-align: middle;
}

@media screen and (max-width: 1400px){
     .landing-branding_img {
        width: 80%;
    }
}


@media screen and (max-width: 900px) and (min-width: 600px) {
   
    main.row {
        width:570px;
    }
    
    #chartdiv {
        font-size: 12px !important;
        width: 100%;
    }

    .landing-branding_img {
        height: 200px;
        width: 100%;
    }

    .dashboard-card_wide {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #C2C2C1;
        box-shadow: 3px 5px 10px #292928;
    }
}

@media screen and (max-width: 600px){
    row.dashboard-card {
        justify-content: center;
        align-items: center;
    }
    .dashboard-card_wide {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #C2C2C1;
        box-shadow: 3px 5px 10px #292928;
    }
}
